body {
  background: #ddd;
}

.crono {
  display: flex;
  justify-content: center;
  font-size: 4rem;
  font-family: "Roboto";
  font-weight: bold;
  padding: 20px;
  margin-top: 50px;
  position: relative;
}

.buttons {
  position: absolute;
  top: 140px;
}

.buttons button {
  width: 100px;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 6px;
  padding: 12px;
  font-family: "Roboto";
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: 1px solid black;
}

.buttons button:hover {
  color: black;
  background: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.pausar {
  display: none;
}

.resetar {
  display: none;
}

.pausar.iniciado {
  display: inline;
  animation: slide-left 0.7s forwards;
}

.resetar.iniciado {
  display: inline;
  animation: slide-left 0.7s forwards;
}

.iniciar {
  animation: slide-left 0.7s forwards;
}

.iniciar.removido {
  display: none;
}

@keyframes slide-left {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
